{% extends 'base.html.twig' %}

{% block title %}To-Do List
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center mt-5">
			<div class="col-lg-3 col-md-12 mb-4">
				<div class="card">
					<div class="card-header text-center">
						En Attente
					</div>
					<ul class="list-group list-group-flush">
						{% for task in pendingTasks %}
							<li class="list-group-item">
								<div class="d-flex justify-content-between align-items-center">
									<span>{{ task.title }}</span>
									<a href="{{ path('app_task_detail', {id: task.id}) }}" class="btn btn-primary link" role="button">Détail</a>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-12 mb-4">
				<div class="card">
					<div class="card-header text-center">
						En Cours
					</div>
					<ul class="list-group list-group-flush">
						{% for task in inProgressTasks %}
							<li class="list-group-item">
								<div class="d-flex justify-content-between align-items-center">
									<span>{{ task.title }}</span>
									<a href="{{ path('app_task_detail', {id: task.id}) }}" class="btn btn-primary link" role="button">Détail</a>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div>
			<a href="{{ path('app_task_add')}}" class="btn btn-primary link" id="add_task" role="button">Ajouter une tâche</a>
		</div>
	</div>
{% endblock %}

