{% extends 'base.html.twig' %}

{% block title %}Éditer une tâche
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row mt-3 text-center">
			<div class="col">
				<h1>{{ task.title }}</h1>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-5 offset-lg-2 col-md-12">
				<h2 class="mb-3">Description</h2>
				<p>
					{{task.description}}
				</p>
			</div>
			<div class="col-lg-3 col-md-12">
				<div>
					<h3 class="text-center mb-3">Informations supplémentaires</h3>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Statut :
							{{ task.status.name }}</li>
						<li class="list-group-item">Priorité :
							{{ task.priority.name }}</li>
						<li class="list-group-item">Date limite :
							{{ task.limitDate|date("d/m/Y") }}</li>
						<li class="list-group-item">Date de création :
							{{ task.creationDate|date("d/m/Y") }}</li>
						<li class="list-group-item">Date de mise à jour :
							{{ task.updateDate|date("d/m/Y") }}</li>
						<li class="list-group-item">Tâche assignée à :
							<ul>
								{% for user in task.assignedUsers %}
									<li>{{ user.firstname }}
										{{ user.lastname }}</li>
								{% endfor %}
							</ul>
						</li>
						<li class="list-group-item">
							<a href="{{ path('app_task_edit', {id: task.id}) }}" class="btn btn-primary mt-2 link" role="button">Éditer</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

