{% extends 'base.html.twig' %}

{% block title %}Ajout d'une tâche
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row d-flex justify-content-center mt-5">
			<div class="col-lg-6">
				{{ form_start(form) }}
				{{ form_label(form.title, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.title, {'attr': { 'class': 'form-control mb-2'}}) }}

				{{ form_label(form.description, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.description, {'attr': { 'class': 'form-control mb-2'}}) }}

				{{ form_label(form.priority, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.priority, {'attr': { 'class': 'form-control mb-2'}}) }}

				{{ form_label(form.limitDate, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.limitDate, {'attr': { 'class': 'form-control mb-2'}}) }}

				{{ form_label(form.status, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.status, {'attr': { 'class': 'form-control mb-2'}}) }}

				{{ form_label(form.assignedUsers, null, { 'label_attr': { 'class': 'form-label' }}) }}
				{{ form_widget(form.assignedUsers, {'attr': { 'class': 'mb-2'}}) }}

				{{ form_widget(form.submit, {'attr': { 'class': 'btn btn-primary mt-1'}}) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

